@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
    min-height: 100vh;

    @apply bg-dark text-dark-text
}
.border-dark-border {
  border: 0.0625rem solid rgb(37, 38, 43);
}

.border-dark-border.border-4 {
  border-width: 2px;
} 

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  /* Not removed via appearance */
  margin: 0;
}